<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmy.dxs.sys.dao.SysMenuDao">
	<resultMap type="com.shmy.dxs.sys.entity.SysMenu" id="SysMenuMap">
		<id property="id" column="id"/>
		<result property="parentName" column="parent_name"/>
		<result property="parentId" column="parent_id"/>
		<result property="name" column="name"/>
		<result property="component" column="component"/>
		<result property="title" column="title"/>
		<result property="path" column="path"/>
		<result property="target" column="target"/>
		<result property="icon" column="icon"/>
		<result property="menuFloor" column="menu_floor"/>
		<result property="createBy" column="create_by"/>
		<result property="createDate" column="create_date"/>
		<result property="menuTerminal" column="menu_terminal"/>
		<result property="menuType" column="menu_type"/>
		<result property="permission" column="permission"/>
		<result property="sorted" column="sorted"/>
		<result property="delFlag" column="del_flag"/>
		<result property="isAddrouter" column="is_addrouter"/>
	</resultMap>
    <!-- 加载用户的菜单树的数据 -->
    <select id="loadUserTree" resultMap="SysMenuMap" parameterType="com.shmy.dxs.sys.entity.SysUser">
        select DISTINCT t.*  from sys_menu t inner join sys_role_menu rat on t.id = rat.menu_id inner join sys_role ur on rat.role_id = ur.id where ur.id in
        <foreach collection="roles" index="index" item="role" open="(" separator="," close=")">
            #{role.id}
        </foreach>
        having t.menu_type=0
    </select>

	<!--根据主键获取对象-->
	<select id="get" parameterType="com.shmy.dxs.sys.entity.SysMenu" resultMap="SysMenuMap">
		SELECT id,parent_name,parent_id,name,component,title,path,target,icon,menu_floor,create_by,create_date,menu_terminal,menu_type,permission,sorted,del_flag,is_addrouter FROM sys_menu 
		WHERE id=#{id}
	</select>

	<!--保存-->
	<insert id="save" parameterType="com.shmy.dxs.sys.entity.SysMenu">
		INSERT INTO sys_menu(id,parent_name,parent_id,name,component,title,path,target,icon,menu_floor,create_by,create_date,menu_terminal,menu_type,permission,sorted,del_flag,is_addrouter)
		VALUES(#{id},#{parentName},#{parentId},#{name},#{component},#{title},#{path},#{target},#{icon},#{menuFloor},#{createBy},#{createDate},#{menuTerminal},#{menuType},#{permission},#{sorted},#{delFlag},#{isAddrouter})
	</insert>

	<!--修改-->
	<update id="update" parameterType="com.shmy.dxs.sys.entity.SysMenu">
		UPDATE sys_menu SET parent_name=#{parentName},parent_id=#{parentId},name=#{name},component=#{component},title=#{title},path=#{path},target=#{target},icon=#{icon},menu_floor=#{menuFloor},create_by=#{createBy},create_date=#{createDate},menu_terminal=#{menuTerminal},menu_type=#{menuType},permission=#{permission},sorted=#{sorted},del_flag=#{delFlag},is_addrouter=#{isAddrouter}
		WHERE id=#{id}
	</update>

	<!--删除-->
	<delete id="delete" parameterType="com.shmy.dxs.sys.entity.SysMenu">
		 DELETE FROM sys_menu WHERE id=#{id}
	</delete>

	<!--分页查询-->
	<select id="findByPage" parameterType="com.shmy.dxs.sys.entity.SysMenuQuery" resultMap="SysMenuMap">
		SELECT id,parent_name,parent_id,name,component,title,path,target,icon,menu_floor,create_by,create_date,menu_terminal,menu_type,permission,sorted,del_flag,is_addrouter FROM sys_menu
		WHERE 1=1
		<if test="id!=null and id!='' "  >
		AND id=#{id}
		</if>
		<if test="parentName!=null and parentName!='' "  >
		AND parent_name=#{parentName}
		</if>
		<if test="parentId!=null and parentId!='' "  >
		AND parent_id=#{parentId}
		</if>
		<if test="name!=null and name!='' "  >
		AND name=#{name}
		</if>
		<if test="component!=null and component!='' "  >
		AND component=#{component}
		</if>
		<if test="title!=null and title!='' "  >
		AND title=#{title}
		</if>
		<if test="path!=null and path!='' "  >
		AND path=#{path}
		</if>
		<if test="target!=null and target!='' "  >
		AND target=#{target}
		</if>
		<if test="icon!=null and icon!='' "  >
		AND icon=#{icon}
		</if>
		<if test="menuFloor!=null and menuFloor!='' "  >
		AND menu_floor=#{menuFloor}
		</if>
		<if test="createBy!=null and createBy!='' "  >
		AND create_by=#{createBy}
		</if>
		<if test="createDate!=null and createDate!='' "  >
		AND create_date=#{createDate}
		</if>
		<if test="menuTerminal!=null and menuTerminal!='' "  >
		AND menu_terminal=#{menuTerminal}
		</if>
		<if test="menuType!=null and menuType!='' "  >
		AND menu_type=#{menuType}
		</if>
		<if test="permission!=null and permission!='' "  >
		AND permission=#{permission}
		</if>
		<if test="sorted!=null and sorted!='' "  >
		AND sorted=#{sorted}
		</if>
		<if test="delFlag!=null and delFlag!='' "  >
		AND del_flag=#{delFlag}
		</if>
		<if test="isAddrouter!=null and isAddrouter!='' "  >
		AND is_addrouter=#{isAddrouter}
		</if>
		<if test="sort!= null">
		order by ${sort} ${order}
		</if>
		limit #{offset},#{limit}
	</select>

	<!--统计-->
	<select id="count" parameterType="com.shmy.dxs.sys.entity.SysMenuQuery" resultType="int">
		SELECT count(*) FROM sys_menu
		WHERE 1=1
		<if test="id!=null and id!='' ">
		AND id=#{id}
		</if>
		<if test="parentName!=null and parentName!='' ">
		AND parent_name=#{parentName}
		</if>
		<if test="parentId!=null and parentId!='' ">
		AND parent_id=#{parentId}
		</if>
		<if test="name!=null and name!='' ">
		AND name=#{name}
		</if>
		<if test="component!=null and component!='' ">
		AND component=#{component}
		</if>
		<if test="title!=null and title!='' ">
		AND title=#{title}
		</if>
		<if test="path!=null and path!='' ">
		AND path=#{path}
		</if>
		<if test="target!=null and target!='' ">
		AND target=#{target}
		</if>
		<if test="icon!=null and icon!='' ">
		AND icon=#{icon}
		</if>
		<if test="menuFloor!=null and menuFloor!='' ">
		AND menu_floor=#{menuFloor}
		</if>
		<if test="createBy!=null and createBy!='' ">
		AND create_by=#{createBy}
		</if>
		<if test="createDate!=null and createDate!='' ">
		AND create_date=#{createDate}
		</if>
		<if test="menuTerminal!=null and menuTerminal!='' ">
		AND menu_terminal=#{menuTerminal}
		</if>
		<if test="menuType!=null and menuType!='' ">
		AND menu_type=#{menuType}
		</if>
		<if test="permission!=null and permission!='' ">
		AND permission=#{permission}
		</if>
		<if test="sorted!=null and sorted!='' ">
		AND sorted=#{sorted}
		</if>
		<if test="delFlag!=null and delFlag!='' ">
		AND del_flag=#{delFlag}
		</if>
		<if test="isAddrouter!=null and isAddrouter!='' ">
		AND is_addrouter=#{isAddrouter}
		</if>
	</select>

	<!--查询-->
	<select id="query" parameterType="com.shmy.dxs.sys.entity.SysMenuQuery" resultMap="SysMenuMap">
		SELECT id,parent_name,parent_id,name,component,title,path,target,icon,menu_floor,create_by,create_date,menu_terminal,menu_type,permission,sorted,del_flag,is_addrouter FROM sys_menu
		WHERE 1=1
		<if test="id!=null and id!='' ">
		AND id=#{id}
		</if>
		<if test="parentName!=null and parentName!='' ">
		AND parent_name=#{parentName}
		</if>
		<if test="parentId!=null and parentId!='' ">
		AND parent_id=#{parentId}
		</if>
		<if test="name!=null and name!='' ">
		AND name=#{name}
		</if>
		<if test="component!=null and component!='' ">
		AND component=#{component}
		</if>
		<if test="title!=null and title!='' ">
		AND title=#{title}
		</if>
		<if test="path!=null and path!='' ">
		AND path=#{path}
		</if>
		<if test="target!=null and target!='' ">
		AND target=#{target}
		</if>
		<if test="icon!=null and icon!='' ">
		AND icon=#{icon}
		</if>
		<if test="menuFloor!=null and menuFloor!='' ">
		AND menu_floor=#{menuFloor}
		</if>
		<if test="createBy!=null and createBy!='' ">
		AND create_by=#{createBy}
		</if>
		<if test="createDate!=null and createDate!='' ">
		AND create_date=#{createDate}
		</if>
		<if test="menuTerminal!=null and menuTerminal!='' ">
		AND menu_terminal=#{menuTerminal}
		</if>
		<if test="menuType!=null and menuType!='' ">
		AND menu_type=#{menuType}
		</if>
		<if test="permission!=null and permission!='' ">
		AND permission=#{permission}
		</if>
		<if test="sorted!=null and sorted!='' ">
		AND sorted=#{sorted}
		</if>
		<if test="delFlag!=null and delFlag!='' ">
		AND del_flag=#{delFlag}
		</if>
		<if test="isAddrouter!=null and isAddrouter!='' ">
		AND is_addrouter=#{isAddrouter}
		</if>
		<if test="sort!= null">
		order by ${sort} ${order}
		</if>
	</select>

</mapper>