<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<p>搜索<span class="glyphicon glyphicon-search"></span></p>
<hr/>
<p>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-sort-by-attributes"></span>
    </button>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    </button>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-sort-by-order"></span>
    </button>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-sort-by-order-alt"></span>
    </button>
</p>
<button type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<button type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<button type="button" class="btn btn-default btn-xs">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<hr/>
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">
                        <span class="glyphicon glyphicon-home">Home</span></a>
                </li>
                <li>
                    <a href="#shop">
                        <span class="glyphicon glyphicon-shopping-cart">Shop</span></a>
                </li>
                <li>
                    <a href="#support">
                        <span class="glyphicon glyphicon-headphones">Support</span></a>
                </li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>

<hr/>
<button type="button" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<!--定制字体颜色-->
<button type="button" class="btn btn-primary btn-lg" style="color: rgb(212, 106, 64);">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<!--应用文本阴影-->
<button type="button" class="btn btn-primary btn-lg" style="text-shadow: black 5px 3px 3px;">
    <span class="glyphicon glyphicon-user"></span> User
</button>
<hr/>
<!--星号符号-->
<div class="container">
    <h2>Asterisk Glyph</h2>
    <p>Asterisk icon: <span class="glyphicon glyphicon-asterisk"></span></p>
    <p>Asterisk icon as a link:
        <a href="#">
            <span class="glyphicon glyphicon-asterisk"></span>
        </a>
    </p>
    <p>Asterisk icon on a button:
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-asterisk"></span> Asterisk
        </button>
    </p>
    <p>Asterisk icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-asterisk"></span> Asterisk
        </a>
    </p>
</div>
<hr/>
<!--加字形-->
<div class="container">
    <h2>Plus Glyph</h2>
    <p>Plus icon: <span class="glyphicon glyphicon-plus"></span></p>
    <p>Plus icon as a link:
        <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </p>
    <p>Plus icon on a button:
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Plus
        </button>
    </p>
    <p>Plus icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Plus
        </a>
    </p>
</div>
<hr/>
<div class="container">
<p style="font-weight: bold">更多内容：https://www.runoob.com/bootstrap/bootstrap-glyphicons.html</p>
</div>
<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="/static/js/jquery-1.9.1.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>