<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 模板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<hr/>
<!--多媒体对象-->
<div class="container">
    <h2>多媒体对象</h2>
    <p>使用 "media-left" 类来设置多媒体对象左对齐。文本内容需要放在图片之后。</p>
    <p>"media-right" 类用于设置多媒体对象右对齐。</p><br>

    <!-- 左对齐 -->
    <div class="media">
        <div class="media-left">
            <img src="/static/images/case2.jpg" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">左对齐</h4>
            <p>这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
        </div>
    </div>
    <hr>

    <!-- 右对齐 -->
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">右对齐</h4>
            <p>这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
        </div>
        <div class="media-right">
            <img src="/static/images/case2.jpg" class="media-object" style="width:60px">
        </div>
    </div>
</div>

<hr/>
<!--顶部，底部，居中对齐-->
<!-- 置顶 -->
<div class="media">
    <div class="media-left media-top">
        <img src="/static/images/case2.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
        <h4 class="media-heading">置顶</h4>
        <p>这是一些示例文本...</p>
    </div>
</div>

<!-- 居中对齐 -->
<div class="media">
    <div class="media-left media-middle">
        <img src="/static/images/case2.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
        <h4 class="media-heading">居中</h4>
        <p>这是一些示例文本...</p>
    </div>
</div>

<!-- 置底 -->
<div class="media">
    <div class="media-left media-bottom">
        <img src="/static/images/case2.jpg" class="media-object" style="width:60px">
    </div>
    <div class="media-body">
        <h4 class="media-heading">置底</h4>
        <p>这是一些示例文本...</p>
    </div>
</div>
<hr/>
<!--内切多媒体对象-->
<div class="media">
    <div class="media-left">
        <img src="/static/images/case2.jpg" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
        <h4 class="media-heading">RUNOOB-1 <small><i>Posted on February 19, 2016</i></small></h4>
        <p>这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>

        <!-- 内嵌多媒体对象 -->
        <div class="media">
            <div class="media-left">
                <img src="/static/images/case2.jpg" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">RUNOOB-2 <small><i>Posted on February 19, 2016</i></small></h4>
                <p>这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>

                <!-- 内嵌多媒体对象 -->
                <div class="media">
                    <div class="media-left">
                        <img src="/static/images/case2.jpg" class="media-object" style="width:45px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">RUNOOB-3 <small><i>Posted on February 19, 2016</i></small></h4>
                        <p>这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。这是一些示例文本。</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<hr/>
<!---->

<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
<script src="/static/js/jquery-1.9.1.js"></script>
<!-- 包括所有已编译的插件 -->
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>