body {
    background: url(/static/images/tologin.jpg) no-repeat;
    background-size: cover;
    font-size: 16px;
}
.form {
    background: rgba(255, 245, 229, 0.4);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}